/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
<<<<<<< HEAD
=======
/*Start Carousel CSS*/
/*CAROUSEL*/
.search-sec {
    padding: 2rem;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

/*@media (min-width: 992px) {
    .search-sec {
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}*/

@media (max-width: 992px) {
    .search-sec {
        background: #1A4668;
    }
}
/*End Carousel*/



/*Start Register*/
/*#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
.main {
    margin: 50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label-register {
    margin-bottom: 15px;
}

.input-register,
.input-register::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;*/
    /* shadows and rounded borders */
    /*-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
    height: auto !important;
    padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}*/

.main-center {
    margin: 50px auto auto auto;
    max-width: 700px;
    padding: 10px 40px;
    border-radius: 0px 50px 30px;
    /*border-bottom-right-radius: 50px;*/
    /*background: #009edf;*/
    /*background: linear-gradient(29deg, rgba(0,177,255,1) 47%, rgba(229,95,255,1) 97%);*/
    /*background: rgb(233,149,1);*/
    /*background: linear-gradient(25deg, rgba(233,149,1,1) 0%, rgba(201,107,4,1) 100%);*/
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -16px -16px 32px #d9d9d9, 16px 16px 32px #ffffff;
    /*color: #FFF;*/
    text-shadow: none;
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;*/
/*}*/
.label-register {
    padding: 1%;
}


.jewel {
    font-size: 80%;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    vertical-align: middle;
    min-width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 9px;
    background-color: #666;
    z-index: 1;
}

    .jewel.jewel-danger {
        background-color: #ef2809
    }
.product-card{
    margin: 15px;
}

.truncate_height {
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.truncate_height:hover{
 color:Highlight
}
.truncate_height_body {
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card_checkout {    
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    padding : 10px;
}
.total_price {
    margin : 0 50px 50px 50px;
    padding: 2em;
}
.area-button-check {
    margin: 0 55% 0 45%;
    padding: 0;
}
.slim-text{
    font-weight:normal;
}
table {
    padding: 10px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid black;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tr.tbody:hover {
    
    background-color: #ffc9e4;
}
/*.styled-table tbody td:nth-of-type(even):hover {
    background-color: #ffc9e4; #d3d3d3;
}
.styled-table td.tbody:hover {
    background-color: #ffc9e4; #dddddd;
}*/
.styled-table .thead {
    background-color: black;
    color: white;
}
.green-hover:hover {
    background-color: green;
}
.red-hover:hover {
    background-color: red;
}
.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px;
    margin: 200px;
    top: 0;
    bottom: 500px;
    left:7%;
    width:65%;
    height: 50%;
    z-index: 2000;
}

    .modal.productDescription {
        padding: 80px;
        white-space: nowrap;
        overflow: visible;
        text-overflow: initial;
    }

.description{
    margin: 20px;
    padding: 0 20px;
}

    .wrap-modal {
        position: fixed;
        display: block;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: 1500;
    }

.invisible {
    display: none;
}

.modal.truncate_height_body {
    height: 50px;
    white-space: nowrap;
    overflow: visible ;
    text-overflow: initial;
    
}

nav li:hover{
    color: red;
    cursor: pointer;
}
.logout-nav {
    margin: 0 20px;
}
.main-login{
    padding-bottom:30px;
}

